.nav-ntf-count {
  align-items: center;
  background-color: var(--brand-color);
  border-radius: 3px;
  color: #fff;
  display: flex;
  font-size: 12px;
  justify-content: center;
  line-height: 1;
  margin-top: -8px;
  padding: 3px 4px;
}

.full-screen {
  min-height: 100vh;
}

.react-calendar-heatmap .color-scale-1 {
  fill: rgb(248, 228, 205);
}
.react-calendar-heatmap .color-scale-2 {
  fill: rgb(241, 202, 158);
}
.react-calendar-heatmap .color-scale-3 {
  fill: rgb(235, 176, 110);
}
.react-calendar-heatmap .color-scale-4 {
  fill: rgb(229, 150, 70);
}

.react-calendar-heatmap .color-empty {
  fill: rgb(252, 252, 252);
}

#input_image{
  display: none;
}
